body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
header {
  background-color: #034f52;
}
nav {
  margin-inline: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav a {
  font-size: 1.1em;
}

#hero {
  background-color: rgb(3, 79, 82, 0.8);
  text-align: center;
  margin-top: 70px;
  padding-block: 30px;
  color: #f3d3cb;
}
#hero h1 {
  font-weight: 400;
}
#hero p {
  font-size: 1.1em;
}
.social {
  margin-top: 30px;
}
.social img {
  width: 1.8em;
}
.social a {
  padding: 6px;
}
.social a:hover {
  border-bottom: 2px solid #f3d3cb;
  border-radius: 4px;
}
header .nav-list {
  display: flex;
  flex-direction: row;
}
.logo {
  color: #c78574;
  font-weight: 500;
  font-size: 1.89em;
}
.nav-list a {
  padding-inline: 5px;
  text-decoration: none;
  color: #c78574;
}
.nav-list a:hover {
  color: #e7c2b9;
}
.headings {
  text-align: center;
  font-size: 2.5em;
  color: #034f52;
  margin-bottom: 100px;
  text-decoration: underline;
}
section {
  margin-top: 0;
  padding-block: 100px;
}
/* #about-me {
    background-color: rgb(3, 79, 82, 0.1);
} */
.container {
  max-width: 1050px;
  margin: auto;
}
.flex {
  margin-inline: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#about-me .about-head {
  text-align: center;
  color: #034f52;
  font-size: 2em;
}
#about-me .details {
  font-size: 1.45em;
}
#about-me span {
  font-weight: bold;
  color: rgb(83, 83, 83);
}
#about-me p {
  color: rgb(142, 142, 142);
}
#about-me img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  border: 7px solid #ffe7e1;
}

/* Education styling */
#education {
  background-color: rgb(3, 79, 82, 0.2);
}
#education .grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 70px 70px;
}
.education-card {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding-block: 40px;
  min-width: 350px;
  max-width: 400px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.75);
}
.level {
  font-weight: 500;
  color: #034f52;
}
.school {
  color: #875245;
  font-weight: 500;
}
.grade {
  margin-bottom: 30px;
}
.year {
  background-color: #034f52;
  max-width: 90px;
  margin: auto;
  padding: 10px;
  border-radius: 3px;
}
#skills h2 {
  color: #875245;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}
#skills ul {
  text-align: left;
  color: #526969;
}
#skills li {
  margin-bottom: 10px;
}
#contact {
    background-color: rgb(3, 79, 82, 0.2);
}
form {
  display: flex;
  flex-direction: column;
}
input {
  width: 300px;
  padding-block: 10px;
  padding-left: 7px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
textarea {
  margin-bottom: 10px;
  padding-left: 5px;
  padding-top: 5px;
  height: 45px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
button {
  background-color: #034f52;
  padding: 5px;
  color: white;
  border: 2px solid #034f52;
  border-radius: 5px;
}
button:hover {
  background-color: transparent;
  color: black;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-block: 20px;
}